@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body, #root {
		height: 100%;
	}
	body {
		@apply bg-gray-50 text-gray-800 antialiased;
		line-height: 1.4;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply text-gray-900;
	}
}

@layer components {
	.card {
		@apply bg-white rounded-lg shadow-sm p-6;
	}
}